<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 id="big-text" class="header center purple-text text-lighten-2">Contrate - Nos</h1>
            <div id="molv-txt-header" class="row center">
                <h5 class="header col s12 light">Temos melhores soluções para sua empresa.</h5>
            </div>
            <div id="btn-proposta" class="row center">
                <a href="http://materializecss.com/getting-started.html" id="download-button"
                    class="btn-large modal-trigger waves-effect waves-light purple lighten-1"
                    data-target="modalContratar">Contratar Serviço</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="img/backgrounds/mining-excavator.jpg" alt="Unsplashed background img 1"></div>
</div>

<!--Blockquote Coronavirus-->
<div class="container">
    <div id="section-bq" class="section">
        <div class="row">
            <div class="col s12">
                <blockquote>
                    <h5>CORONAVIRUS</h5>
                    <h6>
                        <p class="light">Fica em casa, evite o contágio e ou transmissão do COVID-19. Nós MOLV estamos
                            cumprindo com as medidas adotadas pelo governo para a conteção do virus.
                            Por tanto, informamos que não paramos de trabalhar mas sim, "TRABALHAMOS DE CASA", e
                            estamos online no nosso web site, e em vàrias outras plataformas de cominicação tais como,
                            <a href="#">Facebook</a>,
                            <a href="https://www.instagram.com/molvholding/" target="blank">Instagram</a>, <a
                                href="https://www.linkedin.com/in/molv-holding-s-a-6011991a7/"
                                target="blank">Linkein</a>, <a href="#">Twitter</a>, este ao qual està visitando no
                            momento.
                            Informamos igualmente, que devido a pandemia do COVID-19 os nossos serviços
                            estão priorizando pedidos e requisiçoes relacionadas ao COVID-19. Temos màscaras, Confira
                            video abaixo.
                        </p>
                    </h6>
                </blockquote>
            </div>
        </div>
    </div>

</div>

<div id="video_area" class="container">
    <div class="video-container center-align">

        <video class="responsive-video" controls>
            <source src="videos/Mascaras.mp4" type="video/mp4">
        </video>
    </div>
</div>

<!--Quem somos area-->
<div class="container">
    <div  id="qsomos" class="section section-qsomos scrollspy">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center purple-text"><i class="material-icons">group</i></h2>
                    <h5 class="center">Quem Sómos</h5>

                    <p class="light">Somos uma empresa dotada de conhecimento e experiência na àrea de procuremente,
                        logistica e
                        outras àreas afim.
                        Somos parceiros ideais para o seu negócio. Fornecemos soluções flexíveis, eficientes, seguras e
                        muito
                        mais.</p>
                </div>
            </div>

            <div id="cometimento" class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center purple-text"><i class="material-icons">timer</i></h2>
                    <h5 class="center">Cometimento</h5>

                    <p class="light">Prover soluções desenhadas com a maior observância ao custo e benefício, provendo
                        sempre
                        resultados aos
                        plausiveis aos problemas dos nossos clientes em tempo útil, agregando mais valor aos seus
                        serviços e
                        produtos.</p>
                </div>
            </div>

            <div id="nfoco" class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center purple-text"><i class="material-icons">highlight</i></h2>
                    <h5 class="center">Nosso Foco</h5>

                    <p class="light">Tornar se a empresa nº 1 em assistência à indústrias extrativas, de energia,
                        petróleo e gàs
                        no
                        fornecimento de equipamentos, consumíveis, serviços de logistica, informática e muito mais.
                        Pautando
                        sempre
                        na qualidade, flexibilidade e inovação.</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Oferecemos serviços e produtos às empresas de caminhos de ferros</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="img/backgrounds/background5.jpg" alt="Unsplashed background img 2"></div>
</div>

<!--Section: Galeria-->

<div  class="container">
    <section id="gallery" class="section white lighten-5 section-gallery scrollspy">
        <h4 class="center">
            <span class="purple-text">Galeria</span> De Produtos
        </h4>
        <div class="row">
            <div class="col s12 m3">
                <img src="img/galeria/luva-mascara.webp" alt="" class="materialboxed responsive-img">
            </div>
            <div class="col s12 m3">
                <img src="img/galeria/hypertencao.webp" alt="" class="materialboxed responsive-img">
            </div>
            <div class="col s12 m3">
                <img src="img/galeria/estetoscopio515.jpg" class="materialboxed responsive-img">
            </div>
            <div class="col s12 m3">
                <img src="img/galeria/roupamedica.webp" alt="" class="materialboxed responsive-img">
            </div>
        </div>
        <div class="row">
            <div class="col s12 m3">
                <img src="img/galeria/excavation.jpg" alt="" class="materialboxed responsive-img">
            </div>
            <div class="col s12 m3">
                <img src="img/galeria/IMG-fire-extint.jpg" alt="" class="materialboxed responsive-img">
            </div>
            <div class="col s12 m3">
                <img src="img/galeria/pallet-686317_1920.jpg" alt="" class="materialboxed responsive-img">
            </div>
            <div class="col s12 m3">
                <img src="img/galeria/forklift-3825282_1920.jpg" alt="" class="materialboxed responsive-img">
            </div>
        </div>
        <div class="row">
            <div class="col s12 m3">
                <img src="img/galeria/esteira.jpg" alt="" class="materialboxed responsive-img">
            </div>
            <div class="col s12 m3">
                <img src="img/galeria/wheel-3853539_1920.jpg" alt="" class="materialboxed responsive-img">
            </div>
            <div class="col s12 m3">
                <img src="img/galeria/transportation-4966927_1920.jpg" alt="" class="materialboxed responsive-img">
            </div>
            <div class="col s12 m3">
                <img src="img/galeria/gas3.jpeg" alt="" class="materialboxed responsive-img">
            </div>
        </div>
    </section>
</div>

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Fornecemos equipamentos às empresas de energia, petróleo e gàs</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="img/backgrounds/factory-1593842_1280.jpg"></div>
</div>

<!--Sectin: Contactos-->

<div class="container">
    <div id="contact" class="section section-contact scrollspy">

        <div class="row">
            <div id="contactenos" class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>Contacte-nos</h4>
                <p class="left-align light">Caro cliente, abaixo seguem o nosso endereço físico ao qual pode se dirigir
                    para
                    ter contacto directo
                    com um dos nossos assistentes comerciais, tal como pode enviar-nos o seu email preenchendo o
                    formulário a
                    direita do formulario
                    do nosso endereço. Para manter a mesma qualidade de serviço prestada presencialmente, ou por outros
                    meios,
                    os emails são todos
                    eles respondidos em tempo útil. Agradecemos desde ja o seu contacto, e por favor, sinta se a vontade
                    para
                    fazer-nos qualquer
                    questão relacionada aos nossos serviços.</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m6">
                <div id="endereco" class="card-panel purple white-text center">
                    <i class="material-icons">email</i>
                    <h5>Faça-Nos Uma Visita</h5>
                    <p>Por conta do COVID-19, aconselhamos aos nossoa clientes a optarem por meios
                        telefónicos ou email para questões que não exijam contacto físico.</p>
                </div>
                <ul id="colection-add" class="collection with-header">
                    <li class="collection-header">
                        <h4>Loalizacao</h4>
                    </li>
                    <li class="collection-item">Bairro Sommerschield</li>
                    <li class="collection-item">Av. Kwame Nkrumah nº 1001, R/c</li>
                    <li class="collection-item">Cidade de maputo, Caixa Postal nº 1100</li>
                </ul>
            </div>
            <div id="frmemail" class="col s12 m6">
                <div id="form " class="card-panel purple lighten-1">
                    <form method="POST" action="send">
                        <h5 class="white-text">Envie seu email aqui</h5>
                        <div class="input-field">
                            <i class="material-icons prefix">person</i>
                            <input placeholder="Seu Nome" name="nome" id="nome" type="text"
                             maxlength="35" required="required">
                            <label for="nome">Nome</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">email</i>
                            <input placeholder="Email" name="email" id="email" type="email" class="validate"
                             maxlength="35" required="required">
                            <label for="email">E-mail</label>
                            <span class="helper-text" data-error="Email invalido, verifique sff"></span>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">call</i>
                            <input placeholder="Telefone" name="telefone" id="telefone" type="number"
                             maxlength="15" required="required">
                            <label for="telefone">Telefone</label>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">edit</i>
                            <textarea placeholder="Sua mensagem aqui" id="mensagem" class="message materialize-textarea"
                                name="mensagem"  maxlength="120" required="required"></textarea>
                            <label for="mensagem">Mensagem</label>
                        </div>
                        <button class="button btn  waves-effect purple white-text" type="submit">Submeter</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Sectin: Contactos-->

<!--Section Clientes-->
 
<div class="container ">
    <div id="clientes" class="section section-clientes scrollspy">
               
        <div class="row col s12 m4">
          <h4 class="text center">Nossos Clientes</h4>
           
            <div class="carousel">
                <a class="carousel-item" href="#one!"><img src="img/clientes/bcx.png"></a>
                <a class="carousel-item" href="https://www.millenniumbim.co.mz/pt/particulares" target="blank"><img src="img/clientes/bim.jpg"></a>
                <a class="carousel-item" href="https://www.edm.co.mz/" target="blank"><img src="img/clientes/logo-edm.png"></a>
            </div>
        </div>
        
    </div>
</div>
<div class="div"></div>
<!--Paralax lagistic-->

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">Prestamos serviços de logistica e suply chain.</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="img/backgrounds/background6.jpg" alt="Unsplashed background img 3"></div>
</div>

<!--Modals Molv Holding-->



<!-- Modal Structure -->
<div id="modal1" class="modal">
    <div class="modal-content">
        <h4>Login</h4>
        <p>Futura area corporativa reservada a Molv Holding, em desenvolvimento.</p>
    </div>
    <div class="divider"></div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Aceitar</a>
    </div>
</div>

<!--Modal Request Service from Molv Holding-->

<div id="modalContratar" class="modal">
    <div class="modal-content">
        <h5 class="text center-align">Solicitação De Serviço</h5>
        <br>
        <form id="frmMolvServiceRequest" method="POST" action="sendServiceRequest">

            <div class="row">
                <div class="col s12 m5 input-field">
                    <i class="material-icons prefix">person</i>
                    <input type="text" name="nome" id="nome" placeholder="Informe seu nome"  maxlength="35" required="required" />
                    <label for="nome">Nome</label>
                </div>
                <div class="col s12 m6 input-field">
                    <i class="material-icons prefix">home</i>
                    <input type="text" name="empresa" id="empresa" placeholder="Informe o nome da sua empresa" 
                     maxlength="50" required="required" />
                    <label for="empresa">Empresa</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m5 input-field">
                    <i class="material-icons prefix">build</i>
                    <input type="text" name="area" id="area" placeholder="Informe area de atuação da sua empresa"
                     maxlength="35" required="required" />
                    <label for="area">Area atuação</label>
                </div>
                <div class="col s12 m6 input-field">
                    <i class="material-icons prefix">room</i>
                    <input type="text" name="adress" id="adress" placeholder="Please enter a Lastname" 
                     maxlength="35" required="required"/>
                    <label for="adress">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m5 input-field">
                    <i class="material-icons prefix">email</i>
                    <input placeholder="Email" id="email" name="email" type="email" class="validate"
                     maxlength="35" required="required">
                    <label for="email">E-mail</label>
                    <span class="helper-text" data-error="Email invalido, verifique sff"></span>

                </div>
                <div class="col s12 m6 input-field">
                    <i class="material-icons prefix">call</i>
                    <input placeholder="Telefone" name="telefone" id="telefone" type="number"
                     maxlength="15" required="required">
                    <label for="telefone">Telefone</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m11 input-field">
                    <i class="material-icons prefix">edit</i>
                    <textarea placeholder="Detalhe sobre o serviço" id="message" class="materialize-textarea"
                        name="message" maxlength="160" required="required"></textarea>
                    <label for="message">Descrição</label>
                </div>
            </div>

            <input type="submit" value="Enviar" class="btn right-align">


        </form>


    </div>

</div>

<!--End modals section-->