<div class="container">
    <div class="row">
        <div class="col-sm12-m6">
            
            <br>
            <p> <h5>A Molv Holding S.A.,</h5> <br> acusa a recepção do seu e-mail.</p>
             <p> Os nossos assistentes comerciais vão entrar em contacto 
                 em menos de 24h, assim, agradecemos que verifique o seu spam caso 
                 passadas as 24h não vir a nossa mensagem em sua caixa de entrada. <a href="/">Click aqui para voltar a nossa pàgina principal</a></p>
                 <br>
                  Obrigado pelo seu e-mail,
                  <br></p>
                  Molv Holding S.A.<br>
                  Email: comercial@molvholding.co.mz<br> 
                  Contacto: 84 389 0610

        </div>
    </div>
</div>